<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"> <!--xmlns="http://www.w3.org/1999/xhtml" - на это Thymeleaf "ругается"-->
<head>
    <meta charset="UTF-8">
    <title th:align="center">Users</title>
</head>
<body>
<div th:align="center">Это список моих пользователей</div>
</br>
    <table th:border="5" th:align="center">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Возраст</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:href="@{/{id}/edit(id=${user.id})}" th:text="${user.name}">...</td>
            <td th:utext="${user.lastName}">...</td>
            <td th:utext="${user.age}">...</td>
        </tr>
    </table>

    <div th:each="user : ${users}" th:align="center">
        <a style="" th:href="@{/{id}/edit(id=${user.id})}" th:text="${user.name}">user</a>
    </div>

    <form method="LINK" action="/new" th:align="center">
        <input type="submit" value="Создать нового пользователя">
    </form>



</body>
</html>